<div class="card card-block mx-auto">
	{% if gift.picture %}
	<div class="card-img img-link pop">
		<img class="card-img-top img-fluid" src="{{ gift.picture }}">
	</div>
	{% endif %}
	{% if session.username and gift.creator_id != session.user_id %}
	<a href="{{ url_for('claims.add_get', g_id=gift.id) }}" class="btn btn-success">Claim</a>
	{% endif %}
	<div class="card-body">
		<a href="{{ url_for('gifts.get_byid', g_id=gift.id) }}">
			<h5 class="card-title mb-0">{{ gift.name }}</h5>
		</a>
		<span class="badge badge-secondary mb-3">{{ gift.category.name }}</span>
		<small class="float-right text-muted">Offered by <a href="{{ url_for('gifts.get_byuserid', u_id=gift.creator_id) }}">{{ gift.creator.name }}</a></small>
		<p class="card-text mb-2">{{ gift.description }}</p>
		<p class="card-text">
			<small class="text-muted">
				{% if gift.updated_at %}<br>Last updated on {{ gift.updated_at.strftime('%d %b %Y at %H:%M') }}<br>{% endif %}
				Created on {{ gift.created_at.strftime('%d %b %Y at %H:%M') }}
			</small>
		</p>
		<div class="links text-center">
			{% if page == "gifts" %}
			<a href="{{ url_for('gifts.get_byid', g_id=gift.id) }}" class="btn btn-info">View</a>
			{% elif page == "gift" %}
			<a href="{{ url_for('claims.get', g_id=gift.id) }}" class="btn btn-outline-info">Claims</a>
			{% endif %}
			{% if session.username and gift.creator_id == session.user_id %}
			<a href="{{ url_for('gifts.edit_get', g_id=gift.id) }}" class="btn btn-outline-warning">Edit</a>
			<a href="{{ url_for('gifts.delete_get', g_id=gift.id) }}" class="btn btn-outline-danger">Delete</a>
			{% endif %}
		</div>
	</div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">              
      <div class="modal-body">
      	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <img src="" class="imagepreview" style="width: 100%;" >
      </div>
    </div>
  </div>
</div>

<script>
	$(function() {
		$('.pop').on('click', function() {
			$('.imagepreview').attr('src', $(this).find('img').attr('src'));
			$('#imagemodal').modal('show');   
		});		
	});
</script>