{% extends "index.html" %}

{% block header %}
{% if gift.category.picture %}
<header class="jumbotron" style="background: url('{{ gift.category.picture }}') no-repeat; background-size: cover;">
{% else %}
<header class="jumbotron">
{% endif %}
	<h1 class="display-4">{{ gift.name | truncate(50) }}</h1>
	<p class="lead">{{ gift.category.name }}</p>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('gifts.get') }}">Gifts</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('gifts.get', cat=gift.category.id) }}">{{ gift.category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ gift.name | truncate(25) }}</li>
</ol>
{% endblock %}

{% block body %}

{% include 'gift_card.html' %}

{% endblock %}