{% extends "index.html" %}

{% block header %}
{% if category.picture %}
<header class="jumbotron" style="background: url('{{ category.picture }}') no-repeat; background-size: cover;">
{% else %}
<header class="jumbotron">
{% endif %}
    <h1 class="display-4">{{ category.name }}</h1>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('gifts.get') }}">Gifts</a></li>
	<li class="breadcrumb-item"><a href="{{ url_for('categories.get') }}">Categories</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
</ol>
{% endblock %}

{% block body %}

{{ category.description }}<br><br>

<small class="text-muted">
	{% if category.updated_at %}Last updated on {{ category.updated_at.strftime('%d %b %Y at %H:%M') }}<br>{% endif %}
	Created on {{ category.created_at.strftime('%d %b %Y at %H:%M') }}
</small>

{% if session.username %}
<br>
<br>
<a href="{{ url_for('categories.edit_get', cat_id=category.id) }}" class="btn btn-outline-warning">Edit</a>
<a href="{{ url_for('categories.delete_get', cat_id=category.id) }}" class="btn btn-outline-danger">Delete</a>
{% endif %}
{% endblock %}