{% extends "index.html" %}

{% block header %}
{% if category.picture %}
<header class="jumbotron" style="background: url('{{ category.picture }}') no-repeat; background-size: cover;">
{% else %}
<header class="jumbotron">
{% endif %}
    <h1 class="display-4">Delete {{ category.name }}?</h1>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('gifts.get_gifts') }}">Gifts</a></li>
	<li class="breadcrumb-item"><a href="{{ url_for('categories.get_categories') }}">Categories</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('categories.get_category_byid', cat_id=category.id) }}">{{ category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
</ol>
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('categories.delete_category', cat_id=category.id) }}" class="text-center">
	<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

	<button class="btn btn-danger btn-lg" type="submit">Confirm</button>
</form>
{% endblock %}