{% extends "index.html" %}

{% block header %}
{% if category.picture %}
<header class="jumbotron" style="background: url('{{ category.picture }}') no-repeat; background-size: cover;">
{% else %}
<header class="jumbotron">
{% endif %}
    <h1 class="display-4">Edit {{ category.name }}</h1>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('gifts.get') }}">Gifts</a></li>
	<li class="breadcrumb-item"><a href="{{ url_for('categories.get') }}">Categories</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('categories.get_byid', cat_id=category.id) }}">{{ category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit</li>
</ol>
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('categories.edit_post', cat_id=category.id) }}">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

	<div class="form-group">
		<label for="name">Name</label>
    	<input id="name" class="form-control" type='text' name='name' placeholder='Name' value='{{ category.name }}'>
    </div>

    <div class="form-group">
    	<label for="picture">Picture URL</label>
    	<input id="picture" class="form-control" type='text' name='picture' placeholder='Picture URL' value='{{ category.picture }}'>
    </div>

    <div class="form-group">
    	<label for="description">Description</label>
    	<textarea id="description" class="form-control" name='description' placeholder='Description'>{{ category.description }}</textarea>
    </div>

    <button class="btn btn-outline-success" type="submit">Edit</button>
</form>
{% endblock %}