{% extends "index.html" %}

{% block header %}
<header class="jumbotron">
    <h1 class="display-4">Add a category</h1>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('get_gifts') }}">Gifts</a></li>
	<li class="breadcrumb-item"><a href="{{ url_for('get_categories') }}">Categories</a></li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
</ol>
{% endblock %}

{% block body %}
<form method='POST' action="{{ url_for('add_category') }}">
    <input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

	<div class="form-group">
		<label for="name">Name</label>
    	<input id="name" class="form-control" type='text' name='name' placeholder='Name'>
    </div>

    <div class="form-group">
    	<label for="picture">Picture URL</label>
    	<input id="picture" class="form-control" type='text' name='picture' placeholder='Picture URL'>
    </div>

    <div class="form-group">
    	<label for="description">Description</label>
    	<textarea id="description" class="form-control" name='description' placeholder='Description'></textarea>
    </div>

    <button class="btn btn-outline-success" type="submit">Create category</button>
</form>
{% endblock %}