{% extends "index.html" %}

{% block header %}
<header class="jumbotron">
    <h1 class="display-4">Categories</h1>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
    <li class="breadcrumb-item"><a href="{{ url_for('get_gifts') }}">Gifts</a></li>
    <li class="breadcrumb-item active" aria-current="page">Categories</li>
</ol>
{% endblock %}

{% block body %}
{% if session.username %}
<div class="text-center">
    <a href="{{ url_for('show_add_category') }}" class="btn btn-success btn-lg">Add a category</a>
<div>
<br>
{% endif %}
<div class="list-group">
    {% for category in categories %}
    <a href="{{ url_for('get_category_byid', cat_id=category.id) }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
    {% endfor %}
</div>
{% endblock %}