{% extends "index.html" %}

{% block header %}
<header class="jumbotron">
    <h1 class="display-4">Delete {{ category.name }}?</h1>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('get_gifts') }}">Gifts</a></li>
	<li class="breadcrumb-item"><a href="{{ url_for('get_categories') }}">Categories</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('get_category_byid', cat_id=category.id) }}">{{ category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
</ol>
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('delete_gift', g_id=category.id) }}" class="text-center">
	<button class="btn btn-danger btn-lg" type="submit">Confirm</button>
</form>
{% endblock %}