{% extends "index.html" %}

{% block header %}
<header class="jumbotron">
	<h1 class="display-4">{{ gift.name | truncate(50) }}</h1>
	<p class="lead">{{ gift.category.name }}</p>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('get_gifts') }}">Gifts</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('get_gifts', cat=gift.category.id) }}">{{ gift.category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ gift.name | truncate(25) }}</li>
</ol>
{% endblock %}

{% block body %}

<section id="get">
	{% if gift.picture %}
	<img src='{{ gift.picture }}' width='50px' height='50px'><br>
	{% endif %}

	{{ gift.description }}<br>

	<a href="{{ url_for('get_claims', g_id=gift.id) }}">Claims</a>
</section>

<section id="update">
	<h2>Update the gift</h2>
	<form method="POST" action="{{ url_for('edit_gift', g_id=gift.id) }}">
		<input type='text' name='name' placeholder='name' value='{{ gift.name }}'>
    	<input type='text' name='picture' placeholder='picture url' value='{{ gift.picture }}'>
    	<textarea name='description' placeholder='Description'>{{ gift.description }}</textarea>
    	<select name="category">
    		{% for category in categories %}
    		{% if category.id == gift.category_id %}
    		<option value="{{ category.id }}" selected>{{ category.name }}</option>
    		{% else %}
    		<option value="{{ category.id }}">{{ category.name }}</option>
    		{% endif %}
    		{% endfor %}
    	</select>
        <input type='submit' value="Edit">
    </form>
</section>

<section id="delete">
	<h2>Delete the gift</h2>
	<form method="POST" action="{{ url_for('delete_gift', g_id=gift.id) }}">
    	<input type='submit' value="Delete">
    </form>
</section>

<section id="claim">
	<h2>Claim the gift</h2>
	<form method="POST" action="{{ url_for('add_claim', g_id=gift.id) }}">
		<input type='text' name='message' placeholder='message' value='{{ gift.message }}'>
		<input type='submit' value="Claim">
	</form>
</section>

<section id="back">
	<a href="{{ url_for('get_gifts') }}">Back</a>
</section>
{% endblock %}