{% extends "index.html" %}

{% block header %}
<header class="jumbotron">
	<h1 class="display-4">{{ gift.name | truncate(50) }}</h1>
	<p class="lead">{{ gift.category.name }}</p>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('get_gifts') }}">Gifts</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('get_gifts', cat=gift.category.id) }}">{{ gift.category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ gift.name | truncate(25) }}</li>
</ol>
{% endblock %}

{% block body %}

<section id="get">
	{% include 'gift_card.html' %}
</section>

<section id="delete">
	<h2>Delete the gift</h2>
	<form method="POST" action="{{ url_for('delete_gift', g_id=gift.id) }}">
    	<input type='submit' value="Delete">
    </form>
</section>

<section id="claim">
	<h2>Claim the gift</h2>
	<form method="POST" action="{{ url_for('add_claim', g_id=gift.id) }}">
		<input type='text' name='message' placeholder='message' value='{{ gift.message }}'>
		<input type='submit' value="Claim">
	</form>
</section>

<section id="back">
	<a href="{{ url_for('get_gifts') }}">Back</a>
</section>
{% endblock %}