{% extends "index.html" %}

{% block nav %}
<form class="form-inline justify-content-center ml-auto">
	<select class="form-control" name="cat" onchange='this.form.submit();'>
		<option value="">All</option>
		{% for category in categories %}
		{% if req_cat and req_cat.id == category.id %}
		<option value="{{ category.id }}" selected>{{ category.name }}</option>
		{% else %}
		<option value="{{ category.id }}">{{ category.name }}</option>
		{% endif %}
		{% endfor %}
	</select>
</form>
{% endblock %}

{% block header %}
{% if req_cat and req_cat.picture %}
<header class="jumbotron" style="background: url('{{ req_cat.picture }}') no-repeat; background-size: cover;">
{% else %}
<header class="jumbotron">
{% endif %}
	{% if req_cat %}
	<h1 class="display-4">{{ req_cat.name }}</h1>
	{% else %}
	<h1 class="display-4">All the gifts</h1>
	{% endif %}
</header>
{% endblock %}

{% block body %}
<div class="gifts">
	<div class="grid">
		{% for gift in gifts %}
		<div class="grid-item">
		{% include 'gift_card.html' %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}