<!DOCTYPE html>
<html>
<head>
	<title>Giftr</title>
</head>
<body>
	<header>
		<h1>Giftr</h1>
	</header>

	<section id="get">
		<h2>{{ gift.name }}</h2>

		{% if gift.picture != '' %}
		<img src='{{ gift.picture }}'><br>
		{% endif %}

		{{ gift.description }}
	</section>

	<section id="update">
		<h2>Update the gift</h2>
		<form>
			<input type='text' name='name' placeholder='name'>
	    	<input type='text' name='picture' placeholder='picture url'>
	    	<textarea name='description' placeholder='Description'></textarea>
	        <input type='submit' value="Edit">
	    </form>
	</section>

	<section id="delete">
		<h2>Delete the gift</h2>
		<form>
	    	<input type='submit' value="Delete">
	    </form>
	</section>

	<section id="back">
		<a href="{{ url_for('cr_gifts') }}">Back</a>
	</section>
</body>
</html>