<!DOCTYPE html>
<html>
	<head>
		<title>Giftr</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
		{% block scripts %}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-xl navbar-light bg-light fixed-top">
			<a class="navbar-brand" href="{{ url_for('get_gifts') }}">Giftr</a>
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="{{ url_for('get_gifts') }}">Home</a>
				<a class="nav-item nav-link" href="{{ url_for('get_categories') }}">Categories</a>
				{% if session.username %}
				<a class="nav-item nav-link" href="{{ url_for('show_add_gift') }}">Give something</a>
				{% endif %}
			</div>

			{% block nav %}
			{% endblock %}

			{% if session.username %}
			<div class="ml-auto d-flex flex-row justify-content-center mt-3 mt-xl-0">
				<div class="d-flex flex-column mr-2">
					<div class="text-right">{{ session.username }}</div>
					<div class="text-right"><small><a href="{{ url_for('disconnect') }}">Log out</a></small></div>
				</div>
				<div class="d-flex flex-column">
					<img class="img-fluid navbar-img" src="{{ session.picture }}">
				</div>
			</div>
			{% else %}
			<div class="navbar-nav ml-auto text-lganddown-center">
				<a class="nav-item nav-link" href="{{ url_for('show_login') }}">Log in</a>
			</div>
			{% endif %}
		</nav>

		{% block header %}
		{% endblock %}

		<main class="container mb-5">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			<div class="alert alert-primary" role="alert">
				{{ message}}
			</div>
			{% endfor %}
			{% endif %}
			{% endwith %}
			
			{% block body %}
			{% endblock %}
		</main>

	</body>
</html>