{% extends 'index.html' %}

{% block header %}
{% if claim.gift.category.picture %}
<header class="jumbotron" style="background: url('{{ claim.gift.category.picture }}') no-repeat; background-size: cover;">
{% else %}
<header class="jumbotron">
{% endif %}
	<h1 class="display-4">Delete {{ claim.message | truncate(50) }}?</h1>
</header>
{% endblock %}

{% block nav %}
<ol class="breadcrumb ml-auto mb-0" style="padding:.5rem 1rem;">
	<li class="breadcrumb-item"><a href="{{ url_for('gifts.get') }}">Gifts</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('gifts.get', cat=claim.gift.category.id) }}">{{ claim.gift.category.name }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('gifts.get_byid', g_id=claim.gift.id) }}">{{ claim.gift.name | truncate(25) }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('gifts.get_byid', g_id=claim.gift.id) }}">Claims</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('claims.get_byid', g_id=claim.gift.id, c_id=claim.id) }}">{{ claim.message | truncate(25) }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Delete</li>
</ol>
{% endblock %}

{% block body %}
<form method="POST" action="{{ url_for('claims.delete_post', g_id=claim.gift_id, c_id=claim.id) }}" class="text-center">
	<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

	<button class="btn btn-danger btn-lg" type="submit">Confirm</button>
</form>
{% endblock %}